# <h1 align="center">Mudanças Climáticas com Python</h1>

In [ ]:
#%pip install pandas

In [2]:
import pandas as pd

df_clima = pd.read_csv('GlobalLandTemperaturesByCountry.csv')

df_clima.head()

           dt  AverageTemperature  AverageTemperatureUncertainty Country
0  1743-11-01               4.384                          2.294   Åland
1  1743-12-01                 NaN                            NaN   Åland
2  1744-01-01                 NaN                            NaN   Åland
3  1744-02-01                 NaN                            NaN   Åland
4  1744-03-01                 NaN                            NaN   Åland

In [3]:
df_clima.shape

(577462, 4)